#wrapper {width:100%; margin: 0 auto; padding-top:50px; }

#left { float:left; display:inline; width: 130px; padding:15px; font-size:12px; color:#000000; background: #e8e8e8;  border-radius: 10px; margin-bottom:20px; border:2px solid:#4a4b4b; }

#right { float:right; display:inline; width: 260px; padding:15px; font-size:12px; color:#000000; background: #e8e8e8;  border-radius: 10px; margin-bottom:20px; margin-right:50px; border:2px solid:#4a4b4b; }

ul.posts { padding-left:15px; float:left; display:inline; width:50%}
ul.posts li.post { float:inline; display:inline; width: 100%; padding:15px; background: #e8e8e8;  border-radius: 10px; margin-bottom:20px; border:2px solid:#4a4b4b; }

ul.posts li.post .content { float:left; display:inline; width:100%; color:#000000;}
ul.posts li.post .tags { display:inline; width:100%; color:#000000;}
ul.posts li.post .social { float: left; display:inline; width:100%; color:#000000;}

ol li {margin-left: 30px;}

linkbutton { background: none repeat scroll 0 0 #e8e8e8; 
             border-radius: 8px 8px 8px 8px; 
             border: 2px solid #616363;
             padding: 10px; 
             margin-left: 8px;
             float: right}